<div id="imagescontainer">
  
  <div id="insideboxleft">
    <h1>Listing users</h1>

    <table>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!-- <td><%= link_to 'Show', {:action => 'show', :id => user.id}, :class => 'action show' %></td>
        <td><%= link_to 'Edit', {:action => 'edit', :id => user.id}, :class => 'action edit' %></td>
        <td><%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
      <% end %>
    </table>

    <br />
  </div>
</div>

