<div id="bigbox">
	<div id="container">
    <% if @photos != nil%>
		  <% for photo in @photos %>
        <div class = "item">
          <a href="photos/<%=photo.id%>">
            <div class = "itemimage">
              <%= image_tag photo.image_url(:thumb).to_s %>
            </div>
          </a>
          <div class = "iteminnerbox">
            <a href = "/users/<%=photo.user_id%>">
              <div id = "listboxavantartiny">
                <%= image_tag User.find_by_id(photo.user_id).image_url(:supertinythumb) %>
              </div>
            </a>
            <div id = "listboxnametiny">
              <p> <%= User.find_by_id(photo.user_id).user_name %></p>
              <p> <%= photo.created_at%></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
	</div>
</div>

<script > 
  var $container = $('#container');
  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : '.item',
      columnWidth : 240
    });
  });
</script>


