<div id="noticebox">
	<b>
	<%= @user.username %> is following:
	</b>
</div>
<div id="bigbox">
  
<div id="insideboxmiddle">

   <% @follows.each do |follow| %>

  <div id="listbox">
   <a href = "/users/<%=follow.getfollowed.id%>">
    <div id="listboxavantar">
      <%= image_tag follow.getfollowed.image_url(:tinythumb).to_s%>
    </div>
    </a>
    
    <div id="listboxname">
    <p>
    <%= follow.getfollowed.username %>
    </p>
    </div>
    <div id="listboxemail">
    <p>
    <%= follow.getfollowed.email %>
    </p>
    </div>

    <% if User.find_by_id(session[:user_id]).hasFollowedHim(follow.followed_id) %>
      <div id="listboxbuttonssp">
        <a href="/follows/destroy/<%=follow.followed_id%>" class="button red">
            Unfollow
        </a>
       </div>
    <% else %>
      <div id="listboxbuttonssp">
        <a href="/follows/new/<%=follow.followed_id%>" class="button blue">
            Follow
        </a>
       </div>
    <% end %>

  </div>
<% end %>

<br />
</div>
</div>

