<div id="bigbox">
  
  <div id="bigboxinsideimagebox">
    <%= image_tag @photo.image_url.to_s %>
  </div> <!--bigboxinsideimagebox-->
  <div id="ImageDetailBox">
    <div id="ImageDetailBoxChangeMakeBox" >

      <%= form_for @photo, :html =>{:multipart => true} do |f| %>
        <% if @photo.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
            <ul>
              <% @photo.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <input id="photo_comment" class ="rounded" placeholder = "description" name="photo[description]" size="30" type="text" value="<%=@photo.description%>" />
        </div>
        <div id="ImageDetailBoxChangeMakeBoxButton">
        <button class="action green" >
          <span class="label">Save</span>
        </button>
        </div>
      <% end %>
    </div> <!--ImageDetailBoxChangeMakeBox-->
  </div> <!--ImageDetailBox-->

</div> <!--bigbox-->


