<div id="bigbox">
  	<div id="bigboxinsideimagebox">
		<%= image_tag @photo.image_url(:description).to_s, :id => "showimage", :height=>600, :width=>800 %>
	</div>
</div>

<div id="ImageDetailBox">
	<div id="ImageDetailBoxWords">
	<p>
		<b>Detail:</b>
	  	<%= @photo.description %>
	</p>
</div>

<div id="ImageDetailBoxCommentMakeBox" >
	<% if @photo.user_id == session[:user_id] %>
		<div id="ImageDetailBoxCommentEditbutton">
			<a href="/photos/<%=@photo.id%>/edit" class="button blue">
				Edit
			</a>	
		</div>	
		<div id="ImageDetailBoxCommentEditbutton">
			<a href="/photos/<%=@photo.id%>/destroy" class="button red">
				Delete
			</a>	
		</div>
	<% end %>

	<%= form_tag "/comments/new/"+@photo.id.to_s do %>

		<div id="ImageDetailBoxCommentMakeBoxInput" >
	        <div class="field">
	            <input id="commentcontent" name="commentcontent" class="roundedbig" placeholder="Leave any comments? " size="30" type="text"style="float:left" />
	            <button class="action green" >
           	<span class="label" style="float:left">
           		Comment
           	</span>              
        </button>
	        </div> 
	        
        </div> 

		<% if @photo.user_id == session[:user_id] %>
		    <div id="ImageDetailBoxCommentMakeBoxButtonExtra" >
		<% else %>
		    <div id="ImageDetailBoxCommentMakeBoxButton" >
		<% end %>

        
        </div> 
        </div>	
	<% end %>
</div>

<script>
	var image = document.getElementById('showimage');
	offset = (984-image.width)/2
	image.style.cssText = "position:relative;left:"+offset.toString()+"px;visibility:visible";
</script>
